# сборка инсталлятора
installer/Output/

# временное AE / Adobe
*.aep_AME/
**/Adobe After Effects Auto-Save/
**/Adobe Premiere Pro Auto-Save/
*.aep.lock

# прочее
*.log
Thumbs.db
.DS_Store
__MACOSX/

_finish_github.ps1

# рендеры (лежат в папке репо, но в git не идут)
gotovo/
*.mov
